html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $text;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}
.title {
    color: #000;
    background-color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    padding: 35px 30px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
}
.search__btn {
    color: #fff;
    max-width: 225px;
    width: 100%;
    padding: 20px 5px;
    font-size: 16px;
    background-color: $blue;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.link-btn__box {
    display: flex;
    justify-content: center;
}
.link-btn {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding: 16px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: $blue;
        border-color: $blue;
    }
}
.link-btn__bg-color {
    background-color: $blue;
}
.link-btn__box-new__products,
.link-btn__our-clients {
  margin-top: 60px;
}
.advanteges__title,
.our-clients__title,
.latest-news__title {
  font-size: 36px;
  color: #000;
  margin-bottom: 25px;
  span {
    color: $blue;
  }
}
.advanteges__title-text,
.our-clients__title-text,
.latest-news__title-text {
  max-width: 680px;
  margin: 0 auto 60px;
}